[submodule "pbrAudioShaders"]
	path = pbrAudioShaders
	url = https://github.com/Malcom3D/pbrAudioShaders.git
	branch = main
[submodule "pbrAudioRender"]
	path = pbrAudioRender
	url = https://github.com/Malcom3D/pbrAudioRender.git
	branch = main
[submodule "pbrAudioBlender"]
	path = pbrAudioBlender
	url = https://github.com/Malcom3D/pbrAudioBlender.git
	branch = main
[submodule "pbrAudioPostProcess"]
	path = pbrAudioPostProcess
	url = https://github.com/Malcom3D/pbrAudioPostProcess.git
	branch = main
[submodule "embreexFromBlender"]
	path = embreexFromBlender
	url = https://github.com/Malcom3D/embreexFromBlender.git
	branch = main
[submodule "pbrAudioCommon"]
	path = pbrAudioCommon
	url = https://github.com/Malcom3D/pbrAudioCommon.git
	branch = main
[submodule "pbrAudioDispersion"]
	path = pbrAudioDispersion
	url = https://github.com/Malcom3D/pbrAudioDispersion.git
	branch = main
